*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/********************MOBIL PORTRAIT***************************/

.header{
	width: 98%;
	height: 180px;
	margin: 0px auto;
	background-image: url(../img/fondo1.jpg);
	/*position: fixed;*/

}

.header_grid{
	display: grid;
	grid-template-columns: repeat(1,1fr);
	grid-template-rows: repeat(7,1fr);
	grid-gap: 1px;
}

.header_items{
	/*background-color: aqua;*/
}

/* GRID DEL LOGO*/
.cinco{
	justify-self: center;
}

/*TITULO LOGO*/
.aresa{
	font-size: 18px;
	margin-left: 70px;
	font-weight: 900;
	
}
.letra{
	color: red;
	font-weight: 900;
	font-size: 18px;
}

/*GRAFICOS LOGO*/
.logos{
	width: 80px;
	height: 70px;
	padding:0px;
	display:inline;
	padding: 2px;
}

/* LOGO ESPECIALIDAD*/
.logo_especialidad{
	color:white;
	text-align: right;
	font-size: 10px;
	margin-right: 25px;
}
	

/********************MOBIL LANDSCAPE************************************/

@media only screen and (min-width: 320px)and (orientation:landscape){
	
	body{
	background-color: yellowgreen;
	}
	.header{
		width: 98%;
		height: 155px;
		
	}

	.header_items{
		/*background-color: orange;*/
	}
	
	.uno{
		grid-column: span 1;
		margin-top: 5px;
	}
	
	.dos{  /*refractarias*/
		grid-column: span 1;
		order: 1;
		margin-top: 5px;
	}
	
	.tres{ /*aresa*/
		grid-column: span 1;
		order: 2;
		margin-top: 5px;
		
	}
	
	.cinco{/*logos*/
		grid-column: span 1;
		grid-row: span 3;
		margin-top: 5px;
		margin-right: 10px;
		align-self: center;
		
	}
	
	.siete{ /*especialidad*/
		grid-column: span 2;
		order:4;
		margin-top: 5px;
		margin-right: 10px;
	}
	.ocho{
		grid-column: span 2;
		order:5;
		margin-top: 5px;
		margin-right: 10px;
		}
	
	.nueve{
		grid-column: span 2;
		order: 6;
		margin-top: 5px;
		margin-right: 10px;
	}
	
	.aresa{
		font-size: 20px;
		margin-left: 30px;
	}
	.letra{
		font-size: 20px;
	}
	.logos{
		width: 110px;
		height: 80px;
		display:inline;

	}
	.logo_especialidad{
		font-size: 12px;
		font-weight: 800;	
	}
}
	
	




/************MOBIL LANDSCAPE*************/

@media only screen and (min-width: 767px){
/*@media only screen and (min-width: 575px){*/
	body{
		background-color: yellow;
	}
	.header{
		width: 98%;
		height: 155px;
		
	}

	.header_items{
		/*background-color: orange;*/
	}
	
	.uno{
		grid-column: span 1;
		margin-top: 5px;
	}
	
	.dos{  /*refractarias*/
		grid-column: span 1;
		order: 1;
		margin-top: 5px;
	}
	
	.tres{ /*aresa*/
		grid-column: span 1;
		order: 2;
		margin-top: 5px;
		
	}
	
	.cinco{/*logos*/
		grid-column: span 1;
		grid-row: span 3;
		margin-top: 5px;
		margin-right: 10px;
		align-self: center;
		
	}
	
	.siete{ /*especialidad*/
		grid-column: span 2;
		order:4;
		margin-top: 5px;
		margin-right: 10px;
	}
	.ocho{
		grid-column: span 2;
		order:5;
		margin-top: 5px;
		margin-right: 10px;
		}
	
	.nueve{
		grid-column: span 2;
		order: 6;
		margin-top: 5px;
		margin-right: 10px;
	}
	
	.aresa{
		font-size: 20px;
		margin-left: 30px;
	}
	.letra{
		font-size: 20px;
	}
	.logos{
		width: 110px;
		height: 80px;
		display:inline;

	}
	.logo_especialidad{
		font-size: 12px;
		font-weight: 800;	
	}
}




/*******************TABLETS******PORTRAIT*********************************/


/*************TABLETS LANDSCAPE***ESCRITORIOS  PEQUEÑOS******************************************************/

@media only screen and (min-width: 1024px){ /*and (orientation : landscape){*/

/* @media only screen and (min-width: 991px){*/
	body{
		background-color: red;
	}
	
	.header{
		width: 80%;
		height: 180px;
	}

	
	
}



/****************ESCRITORIOS  GRANDES*************************************/
/*@media only screen and (min-width: 1200px){
	body{
		background-color: greenyellow;
	}
	
	
}*/

