*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	/*background-color: green;*/
}

/******** LOGO **************/
.header{
	width: 98%;
	height: 180px;
	margin: 0px auto;
	background-image: url(../img/fondo1.jpg);
	/*background-size: cover;*/
}

.header_grid{
	display: grid;
	grid-template-columns: repeat(1,1fr);
	grid-template-rows: repeat(7,1fr);
	grid-gap: 1px;
}

.header_items{
	/*background-color: aqua;*/
}

/* GRID DEL LOGO*/
.cinco{
	/*grid-column: span 3;*/
	text-align:center;

}

/*TITULO LOGO*/
.aresa{
	font-size: 16px;
	margin-left: 70px;
	font-weight: 900;
	
}
.letra{
	color: red;
	font-weight: 900;
	font-size: 18px;
}

/*GRAFICOS LOGO*/
.logos{
	width: 80px;
	height: 70px;
	padding:0px;
	display:inline;
	padding: 2px;
}

/* LOGO ESPECIALIDAD*/
.logo_especialidad{
	color:white;
	text-align: right;
	font-size: 11px;
}

/***********************************************/

/*MOBIL LANSCAPE*/
@media only screen and (min-width: 480px)and (max-width: 767px)and (orientation : landscape){ 
	
	body{
		background-color:blueviolet;
	}
	.header_grid{
		display: grid;
	}
	
	.header_items{
		background-color: orange;
	}
	
	.uno{
		grid-column: span 1;
		margin-top: 5px;
	}
	
	.dos{  /*refractarias*/
		grid-column: span 1;
		order: 1;
		margin-top: 5px;
	}
	
	.tres{ /*aresa*/
		grid-column: span 1;
		order: 2;
		margin-top: 5px;
		
	}
	
	.cinco{/*logos*/
		grid-column: span 1;
		grid-row: span 3;
		margin-top: 5px;
		align-self: center;
		
	}
	
	.siete{ /*especialidad*/
		grid-column: span 2;
		order:4;
		margin-top: 20px;
	}
	.ocho{
			grid-column: span 2;
		order:5;
		}
	
	.nueve{
		grid-column: span 2;
		order: 6;
	}
	
	.aresa{
		font-size: 20px;
		margin-left: 30px;
		font-weight: 900;
	
	}
	.logos{
		width: 110px;
		height: 80px;
		display:inline;

	}
	.logo_especialidad{
		color:white;
		text-align: right;
		font-size: 14px;
		font-weight: 800;
		padding-right: 10PX;
	}





/* TABLET and (orientation : portrait)*/
@media only screen and (min-width: 768px)and (max-width: 1023px){ 
	
	body{
		background-color:orangered;
	}
	
	
	
}



@media only screen and (min-width: 767px)and (max-width: 1023px)and (orientation : landscape){ 
	
	body{
		background-color:maroon;
	}
	
	
}



/* ESCRITORIO */
@media only screen and (min-width: 1024px) {
	
	body{
		background-color:cyan;
	}	

}